name: Android Build
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v1
      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Touch local properties
        run: touch local.properties
      - name: Add Api Key
        run: echo "API_KEY=\"\" " >> local.properties
      - name: Add Api Key
        run: echo "BASE_URL=\"\" " >> local.properties
      - name: Run Tests
        run: ./gradlew test
      - name: Build Project
        run: ./gradlew assemble
